html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a[href="#top"] {
    margin: 1rem;
    display: block;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}

p {
    margin: 0;
}

h2 {
    margin-top: 50vh;
    text-align: center;
}

img {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.menu {
    margin-bottom: 100vh;
    font-size: 125%;
}

.menu li {
    margin-bottom: 1rem;
}

.container {
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    background-color: #222;
    border: medium solid #000;
}

.item {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(35, 177, 99);
    border: medium solid rgb(97, 90, 72);
}

/*Grid explicita*/

.grid-explicit {
    display: grid;
    /*Grid de 3cx3r*/
    grid-template-rows: 2rem 20vh 30%;
    grid-template-columns: 50% 100px 1fr;
    /*Grid de 5cx4r*/
    grid-template-columns: repeat(5, 20%);
    /*repeat(numero de elementos, tamanio)*/
    grid-template-rows: repeat(4, 25%);
    /*grid-template-rows: repeat(4, auto);*/
    grid-template-columns: repeat(5, 1fr);
    /*Similar repeat(4, auto)*/
    grid-template-rows: repeat(4, 1fr);
    /*Grid de 4cx5r*/
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    /*grid-row-gap: 1rem;*/
    /*grid-gap: 100px 0px;*/
    column-gap: 100px;
    row-gap: 200px;
    /*gap: row column*/
    gap: 0 0;
}

/*Posicionamiento con Grid Lines*/

.grid-explicit .item:nth-child(10) {
    color: rgb(255, 255, 255);
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-column-end: 3;
    background-color: rgb(32, 4, 9);
    grid-row: 3/4;
    grid-column: 1/5;
    /*grid area: grid-row-start/grid-column-start/grid-row-end/grid-column-end*/
    grid-area: 1/1/1/6;

}

.grid-explicit .item:nth-child(1) {
    color: rgb(255, 255, 255);
    background-color: rgb(76, 110, 150);
    grid-column: span 2;
    grid-row: span 1;
}

.grid-explicit .item:nth-child(15) {
    color: rgb(255, 255, 255);
    background-color: rgb(21, 38, 56);
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}

/*Posicionamiento con nombres de Grid line*/
.grid-line-names {
    display: grid;
    /*Grid de 3cx3r*/
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /*Grid de 3cx3r*/
    grid-template-columns: [linea-c1] 1fr [linea-c2] 1fr [linea-c3] 1fr [linea-c4];
    grid-template-rows: [linea-r1] 1fr [linea-r2] 1fr [linea-r3] 1fr [linea-r4];
    grid-template-rows: [linea-r1] auto [linea-r2] auto [linea-r3] auto [linea-r4];
}

.grid-line-names .item:nth-child(3) {
    color: white;
    grid-row: linea-r3/linea-r4;
    grid-column: linea-c1/linea-c4;
    grid-area: linea-r1/linea-c1/linea-r2/linea-c4;
}

/*Grid areas*/
.grid-areas {
    display: grid;
    /*Grid de 2cx3r*/
    grid-template-columns: 1fr 200px;
    grid-template-rows: 100px repeat(2, 1fr) 60px;
    grid-template-areas:
        "header header"
        "content sidebar"
        "content ."
        /*Con el punto se deja la celda vacia*/
        "footer footer";
}

.header {
    grid-area: header;
    background-color: grey;
}

.content {
    grid-area: content;
    background-color: rgb(56, 161, 56);
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(0, 174, 255);
}

.footer {
    grid-area: footer;
    background-color: red;
}

/*Grid implicita*/
.grid-implicit {
    display: grid;
    /*display: inline-grid;*/
    width: 40%;
    grid-template-columns: repeat(4, 1fr);
    /*Grid de 4cx3r*/
    grid-template-rows: repeat(3, 200px);
}

/*Flujo de la Grid*/
.grid-flow {
    display: grid;
    /*Grid 5cx4r*/
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-auto-flow: column;
    grid-auto-flow: column;
    /*Las grids generadas de manera implicita adquieren un tamanio definido por el espacio disponible*/
    grid-auto-rows: auto;
    /*Las grids generadas de manera implicita tienen un tamanio establecido*/
    grid-auto-rows: 200px;
    /*El ancho de columnas de las grids generadas de manera implicita adquieren un tamanio definido por el espacio disponible*/
    grid-auto-columns: auto;
    /*El ancho de las filas de las grids generadad de manera implicita adquieren un tamanio establecido*/
    grid-auto-columns: 50px;
}

/*Flujo denso de la Grid*/
.grid-flow-dense {
    display: grid;
    /*Grid de 5cx4r*/
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 150px);
    /*Flujo dense: */
    grid-auto-flow: row dense;
    grid-auto-flow: column dense;
}

/*
.grid-flow-dense .item:nth-child(9) {
    color: white;
    grid-row: span 3;
    grid-column: span 3;
}
*/

.grid-flow-dense .item:nth-child(11) {
    color: white;
    grid-row: span 3;
    grid-column: span 3;
}

/*Grid Layers: Celdas en capas (superposición)*/
.grid-layers {
    display: grid;
    /*Grid 4cx4r*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.grid-layers .item:nth-child(1) {
    background-color: yellow;
    /*grid-column: 1/3;
    grid-row: 1/3;*/
    grid-area: 1/1/3/3;
}

.grid-layers .item:nth-child(2) {
    background-color: rgb(56, 56, 41);
    /*grid-column: 3/5;
    grid-row: 1/3;*/
    grid-area: 1/3/3/5;
}

.grid-layers .item:nth-child(3) {
    background-color: rgb(42, 43, 90);
    /*grid-column: 1/3;
    grid-row: 3/5;*/
    grid-area: 3/1/5/3;
}

.grid-layers .item:nth-child(4) {
    background-color: rgb(19, 107, 207);
    /*grid-column: 3/5;
    grid-row: 3/5;*/
    grid-area: 3/3/5/5;
}

.grid-layers .item:nth-child(5) {
    background-color: rgb(207, 19, 75);
    /*grid-column: 2/4;
    grid-row: 2/4;*/
    grid-area: 2/2/4/4
}

/*Orden y alineacion de grid items*/
.grid-order {
    display: grid;
    /*Grid de 3cx2r*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
}

.grid-order .item:nth-child(1) {
    color: white;
    order: 1;
}

.grid-order .item:nth-child(2) {
    order: 2;
}

.grid-order .item:nth-child(5) {
    order: -1;
}

.grid-align {
    display: grid;
    /*Grid de 3cx2r*/
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px);
    grid-auto-flow: column;
    /*justify-items: Alinea elementos en x*/
    justify-items: stretch;
    justify-items: center;
    justify-items: end;
    /*align-items: Alinea elementos en y*/
    align-items: stretch;
    align-items: start;
    align-items: center;
    align-items: end;
}

.grid-align .item:nth-child(4) {
    justify-self: center;
    align-self: center;
}